name: "KidsLock Manager"
version: "1.3.4"
slug: "kidslock-manager"
description: "Stabiele UI + Bewerkfunctie + MQTT + PID Fix"
url: "https://github.com/svdveer/kidslock-repository"
arch:
  - aarch64
  - amd64
  - armv7
startup: services
boot: auto
ingress: true
ingress_port: 8000
panel_icon: mdi:lock-settings
schema:
  mqtt:
    host: str
    port: int
    username: str
    password: str