name: "KidsLock Manager"
version: "1.4.7"
slug: "kidslock-manager"
description: "Non-S6 Alpine Build"
url: "https://github.com/svdveer/kidslock-repository"
arch:
  - aarch64
  - amd64
  - armv7
startup: application
boot: auto
ingress: true
ingress_port: 8000
panel_icon: mdi:lock-settings